.faqs {
  padding: 20px;
  margin: 100px 0 0; /* Ensures no margin on the sides */
  min-height: 100vh; /* Ensures full-height coverage */

  display: flex;
  flex-direction: column;

  background-image: url('../assets/fotia-bitcoin.png');
  background-size: cover; /* Ensure background covers entire component */
  background-repeat: no-repeat; /* Prevents tiling */
  background-position: center top -220px; /* Moves background down by 50px */
  
  background-attachment: fixed; /* Keeps background fixed while scrolling */

  width: 100vw; /* Ensure it spans the full viewport width */
  max-width: 100vw; /* Ensures it doesn't exceed viewport width */
  box-sizing: border-box; /* Includes padding in width calculation */

  position: relative;
}






.faqs .faqs-heading
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  margin: 20px 0;
  text-align: center;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(245, 222, 179, 0.8), /* Inner Light Gold glow */
  0 0 20px rgba(218, 165, 32, 0.6),  /* Mid-range Metallic Gold glow */
  0 0 30px #FFD700; /* Outer Dark Gold glow */
}

.faqs .faqs-heading:hover
{
  text-shadow: 0 0 10px rgba(245, 222, 179, 0.8), /* Inner Light Gold glow */
  0 0 20px rgba(218, 165, 32, 0.6),  /* Mid-range Metallic Gold glow */
  0 0 30px #FFD700; /* Outer Dark Gold glow */
  transform: scale(1.05); /* Slight zoom on hover */
}

/* Zigzag layout */
.service-section {
  padding: 20px;
  border-radius: 10px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-section.left-container {
  align-self: flex-start;
  margin: 90px 30px;
  width: 40%;
  background-color: var(--text-color);
  color: var(--background-color);
  margin-bottom: 20px;
}

.service-section.right-container {
  align-self: flex-end;
 margin: 20px 30px ;
  width: 40%;
  margin-bottom: 20px;
  background-color: var(--text-color);
  color: var(--background-color);


}
.service-section.left-container:hover
{
  transform: scale(1.05); /* Slight zoom on hover */
  filter: drop-shadow(0 0 30px rgba(255, 223, 0, 0.9)) 
          drop-shadow(0 0 40px rgba(255, 223, 0, 0.7)); /* Stronger glow on hover */
          cursor: pointer;
}
.service-section.right-container:hover
{
  transform: scale(1.05); /* Slight zoom on hover */
  filter: drop-shadow(0 0 30px rgba(255, 223, 0, 0.9)) 
          drop-shadow(0 0 40px rgba(255, 223, 0, 0.7)); /* Stronger glow on hover */
          cursor: pointer;
}

.service-section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.service-section h4
{
  margin-bottom: 15px;
  text-align: center;
}

.service-section-p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}









/* Media Queries */
@media screen and (max-width: 1024px) {
  .service-section.left-container,
  .service-section.right-container {
    width: 80%;
  }

  
}

@media screen and (max-width: 768px) {
  .service-section.left-container,
  .service-section.right-container {
    width: 70%;
  }

}
